.wow{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer{
  text-align: center;
  margin-top: 8vw;
  font-size: 3.3vw;
  background: rgba(179, 134, 0, 0.1);
}
@font-face {
  font-family: fjudul;
  src: url(judulbgf.otf);
}
@media all and (max-width: 480px){
  .pucuk{
    padding-top: 12vw;
  }
}
@media all and (max-width: 650px){
  body{
    /* background-color: #b36b00; */
    background-image: url('1.png');
    background-size:cover;
  }
  #demo {background-color: inherit;
    text-align: center;
    font-size: 13vw;
  }
  #waktu{
    text-align: center;
  }
  .pucuk{
    font-family: sans-serif;
    margin-top:10vw;
    text-align:center;
    margin-right: 28vw;
    font-size:3.8vw;
  }
  .judul{
    font-family: fjudul;
    color: gold;
    text-align:center;
    font-size:12vw;
  }
  .fasilkom{
    font-family: fjudul;
    text-align: center;
    margin-bottom:7vw;
    font-size:8vw;
    margin-left: 42vw;
  }
  .waktu{
    font-size: 2.8vw;
    font-family: sans-serif;
  }
  .loader {
    border: 0.6vw solid white;
    border-radius: 50%;
    border-top: 0.6vw solid transparent;
    border-bottom: 0.6vw solid transparent;
    width: 10vw;
    margin:auto;
    height: 10vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .incoming{
    font-family: sans-serif;
    text-align:center;
    margin-top:6vw;
    margin-bottom:4vw;
    font-size:4.4vw;
  }
  .pendaftaran{
    font-family: sans-serif;
    text-align:center;
    margin-bottom:3vw;
    font-size:3.5vw;
  }
  .day{
    margin-right:9vw;
    margin-left:2vw;
  }
  .hour{
    margin-left:5vw;
    margin-right:5vw;
  }
  .minute{
    margin-left:6vw;
    margin-right:4vw;
  }
  .second{
    margin-left:5vw
  }
}
@media all and (min-width: 650px){
  body{
    /* background-color: chocolate; */
    background-image: url('1.png');
    background-size:cover;
  }
  #demo {background-color: inherit;
    text-align: center;
    font-size: 100px;
  }
  #waktu{
    text-align: center;
  }
  .waktu{
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 20px;
  }
  .loader {
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    width: 80px;
    margin:auto;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .pucuk{
    font-family: sans-serif;
    margin-top:20px;
    text-align:center;
    margin-right: 230px;
    font-size:30px;
  }
  .judul{
    font-family: fjudul;
    color: gold;
    text-align:center;
    font-size:100px;
  }
  .fasilkom{
    font-family: fjudul;
    text-align: center;
    margin-bottom:2px;
    font-size:70px;
    margin-left: 350px;
  }
  .incoming{
    font-family: sans-serif;
    text-align:center;
    margin-top:27px;
    margin-bottom:33px;
    font-size:30px;
  }
  .pendaftaran{
    font-family: sans-serif;
    text-align:center;
    margin-bottom:5px;
    font-size:19px;
  }
  .day{
    margin-right:67px;
    margin-left:20px;
  }
  .hour{
    margin-left:40px;
    margin-right:40px;
  }
  .minute{
    margin-left:61px;
    margin-right:40px;
  }
  .second{
    margin-left:40px;
  }
}
